build --client_env=CC=clang

# The ASAN configuration suitable for C++ unit tests.
build:asan --copt=-fsanitize=address
build:asan --linkopt=-fsanitize=address

# The MSAN configuration
build:msan --strip=never
build:msan --copt -fsanitize-coverage=edge
build:msan --copt -fsanitize=memory
build:msan --copt -O0
build:msan --copt -fsanitize-memory-track-origins
build:msan --copt -fsanitize-memory-use-after-dtor
build:msan --copt -fno-omit-frame-pointer
build:msan --copt -fPIE
build:msan --copt -DGPR_NO_DIRECT_SYSCALLS
build:msan --linkopt -fsanitize=memory
build:msan --linkopt -fPIE
build:msan --action_env=MSAN_OPTIONS=poison_in_dtor=1

# The TSAN configuration
build:tsan --strip=never
build:tsan --copt -fsanitize=thread
build:tsan --copt -fno-omit-frame-pointer
build:tsan --copt -DGPR_NO_DIRECT_SYSCALLS
build:tsan --copt -DGRPC_TSAN
build:tsan --linkopt -fsanitize=thread
build:tsan --action_env=TSAN_OPTIONS=suppressions=tools/tsan_suppressions.txt:halt_on_error=1:second_deadlock_stack=1
